<div class="container">

    <section class="clean-block clean-form dark    ">
        <div class="row">
            <div class="col ">
                <form [formGroup]="form" (ngSubmit)="login()" class="p-3 shadow bg-white rounded">
                    <div class="mb-3">
                        <label>Usuario</label>
                        <input formControlName="username" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input formControlName="password" type="password" class="form-control" required>
                         <div class="form-check text-end mt-3"><label class="form-check-label" for="checkbox"><a href="#">Registrar</a> </label></div>
                    </div>
                    <button class="btn btn-primary" type="submit">Ingresar</button>
                   
                    <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
                </form>
            </div>
        </div>

    </section>
</div>
